<p-panel header="Pipes Basicos" class="p-2">
    <p>Pipes incluidos en angular</p>
</p-panel>

<p-table [value]="examples">
<ng-template pTemplate="header" >
    <tr>
        <th>Format</th>
        <th>Example Value</th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-date>
    <tr>
        <td> number | currency</td>
        <td>{{ totalSells | currency: 'PEN' : 'symbol-narrow' : '' : 'es-PE' }}</td>
    </tr>
    <tr>
        <td> number | number 6 decimales</td>
        <td>{{ percent | number:'1.6-6'}}</td>
    </tr>
    <tr>
        <td> number | number 6 decimales</td>
        <td>{{ percent | percent }}</td>
    </tr>
</ng-template>
</p-table>


